.dice-rolls-screen {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5vw;
  align-items: center;
  justify-items: center;
  background-image: url("https://i.imgur.com/svtJbZs.jpg");
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  font-family: "Eagle Lake", cursive;
  text-shadow: 0 2px 1px rgba(0,0,0);
  -webkit-animation: fade-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.dice-roll-table-container {
  grid-column: 2/span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28vw;
  height: 80vh;
  padding: 3vh 2vw;
  background: rgb(0, 0, 0, 0.8);
  border: 1px solid #d9952e;
  border-radius: 2%;
}

#reRollMessage {
  width: 25.25vw;
  margin: 1vh 0; 
}

.dice-rolls-info {
  font-size: 0.8rem;
  text-align: center;
}

.re-roll-message {
  font-size: 0.9rem;
  text-align: center;
}

.dice-rolls-screen h4 {
  font-size: 1.1rem;
  margin: 1vh 0;
}

.dice-rolls-screen h5 {
  font-size: 1rem;
  margin: 3vh 0 0 0;
}

.dice-rolls-screen h6 {
  border-bottom: 2px solid #d9952e;
  max-width: fit-content;
  text-shadow: 0 2px 1px rgba(0,0,0);
}

.stats-table {
  min-width: 20vw;
  text-align: center;
  font-size: 1rem;
  border: 1px solid #CCAE27;
  padding: 0 1vw 1vh 0;
  margin: 1vh 0;
  background-color: rgba(0,0,0, 0.8);
  cursor: pointer;
  user-select: none;
  transition: 0.3s ease-in-out;
}

tr {
  width: 5vw;
}

tr th {
  font-size: 1.1rem;
  line-height: 6vh;
}

.re-roll-buttons {
  width: 5vw;
  height: 4vh;
  margin-top: 0.7vh;
  font-size: 0.75rem;
}

.screen-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  margin-top: 2vh;
}

.screen-buttons-container > input {
  width: 10.5vw;
}

#inactiveButton {
  background: rgba(136, 135, 135, 0.719);
}

.dice-roll-table-container input:hover {
  transform: translate(0, -5px) scale(1.1)
}

.stats-description {
  grid-column: 4/span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28vw;
  max-height: 76vh;
  padding: 3vh 2vw;
  background: rgb(0, 0, 0, 0.8);
  border: 1px solid #d9952e;
  border-radius: 2%;
  overflow: overlay;
}

.stats-description::-webkit-scrollbar {
  display: none;
}

.stats-description:hover::-webkit-scrollbar {
  display: initial;
 }

.stats-description::-webkit-scrollbar-thumb {
 background-color: #976820;
}



.stats-description p {
  font-size: 1rem;
  text-indent: 2vw;
}

.stats-description ul {
  padding: 0 1vw 1vw 1vw;
}

.stats-description li {
  margin-top: 4vh;
  font-size: 1rem;
  list-style: none;
}

.stats-description h6 {
  font-size: 1rem;
  margin-bottom: 1vh;
}

.info-screen-button {
  display: none;
}

.pulsate-fwd{
-webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
        animation: pulsate-fwd 1s ease-in-out infinite both;
}

@media (max-width: 920px) {
  .dice-rolls-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 4vh;
    overflow: hidden;
  }

  .dice-roll-table-container {
    width: 70vw;
    max-height: 77vh;
  }

  .stats-table {
    width: 48vw;
    font-size: 0.9rem;
  }

  tr {
    line-height: 4vh;
  }

  .re-roll-buttons {
    width: 10vw;
    height: 6vh;
    line-height: 0;
    margin-top: 0.2vh;
  }
  .stats-description {
    display: none;
  }

  .screen-buttons-container {
    width: 74vw;
    margin-top: 3vh;
    display: flex;
    
    gap: 2vw;
  }

  .screen-buttons-container > input {
    width: 100%;
  }

  .info-screen-button {
    display: block;
  }

  .stats-mobile-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 74vw;
    max-height: 76vh;
    padding: 3vh 3vw;
    background: rgb(0, 0, 0, 0.8);
    border: 1px solid #d9952e;
    border-radius: 2%;
    overflow: overlay;
    font-family: "Eagle Lake", cursive;
    text-shadow: 0 2px 1px rgba(0,0,0);
  }
  
  .stats-mobile-description::-webkit-scrollbar {
    display: none;
  }
  
  .stats-mobile-description:hover::-webkit-scrollbar {
    display: initial;
   }
  
  .stats-mobile-description::-webkit-scrollbar-thumb {
   background-color: #976820;
  }
  
  .stats-mobile-description p {
    font-size: 1rem;
    text-indent: 2vw;
  }

  .stats-mobile-description h5 {
    font-size: 1.8rem;
    margin: 3vh
  }

  .stats-mobile-description .divider {
    margin: 0 0 4vh 0;
  }
  
  .stats-mobile-description ul {
    padding: 0 1vw 1vw 1vw;
  }
  
  .stats-mobile-description li {
    margin-top: 4vh;
    font-size: 1rem;
    list-style: none;
  }
  
  .stats-mobile-description h6 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 4vh;
  }
}