/* .start-screen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100svh;
  background-color: black;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image-container {
  grid-column: 1/1;
  grid-row: 1 / span1;
  display: flex;
  justify-content: flex-end;
}

.start-message-container {
  grid-column: 2 / span1;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  max-width: 33vw;
  text-align: center;
  text-indent: 1vw;
  font: 1rem Arial, 'Courier New', Courier, monospace;
}

.start-message p:nth-child(2) {
  text-align: justify;
}

.start-screen input {
  -webkit-animation: pulsate-fwd 1.3s ease-in-out infinite both;
  animation: pulsate-fwd 1.3s ease-in-out infinite both;
}

@media (max-width: 600px) {
  .start-screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5vh;
    height: 100svh;
    padding: 5vh 5vw;
  }

  .image-container img {
    max-height: 40svh;
    width: 90vw;
    margin: 4vh 0px 2vh 0px;
  }

  .start-message-container {
    max-height: 40svh;
    max-width: 80vw;
  }

  .start-message p:nth-child(2) {
    text-align: center;
    line-height: 1.3rem;
  }
} */

.start-screen {
  color: whitesmoke;
  font-family: 'metamorphous', cursive;
}

.start-screen__image {
  width: 50%
}

.start-screen__text {
  text-align: center;
  max-width: 50%;
}

.start-screen__text .button {
  margin-top: 2em;
}

.start-screen__special-message {
  margin-top: 2rem;
  font-size: 1.35rem;
  font-weight: bold;
  background: #FCEABB;
  background: radial-gradient(ellipse farthest-corner at top center, #FCEABB 0%, #FCCD4D 50%, #F8B500 51%, #FBDF93 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.start-screen__footer {
  position: absolute;
  bottom: 1em;
  right: 2em;
}
@media (min-height: 400px) and  (max-width: 768px) {
  .start-screen{
    min-height: 100svh;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    line-height: 1.65rem;
  }

  .start-screen__image, .start-screen__text {
    width: 100%;
    max-width: 100%;
  }

  .start-screen__footer {
    right: auto;
  }
}

@media (min-width: 768px) {
 .start-screen {
   min-height: 100vh;
 }

 .start-screen__image, .start-screen__text {
   width: 100%;
 }

 .start-screen__image img {
  margin: 0 auto;
 }

 .start-screen__text {
  padding: 3em;
  text-align: left;
 }

 .start-screen__footer {
  right: 45%;
 }
}
